body {
	/*background:#F4F4F4;*/
	font-family: Lucida Sans, Arial, Helvetica, Sans-Serif;
	margin:0;
	padding: 0px;
}

.success_msg
{
	color:GREEN;
	font-weight:bold;
	font-size:13px
	
}

.main {
	width:610px;
	margin:0 auto;
}

#steps {
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin: 0 0 17px 0;
	padding: 0px;
}

#steps li {
	font-size: 24px;
	float: left;
	padding: 10px;
	color: #B0B1B3;
}

#steps li.current {
	color: #666699;
}

#steps li span {
	font-size: 11px;
	display: block;
}

.form_label {
	font-family: "verdana";
	font-size: 11px;
	display: inline-table;
	margin: 0 0 0 8px;
}

.form_sub_heading {
	font-family: "verdana";
	font-size: 12px;
	color: #666699;
	font-weight: bold;
	margin: 0 0 9px 8px;
	display: block;
}

.text_box {
	margin: 3px 0;
	padding: 0;
	width: 150px;
}

.dropdown {
	margin: 3px 0;
	padding: 0;
	width: 150px;
	font-family: "verdana";
	font-size: 11px;
}

.dropdown_small {
	margin: 0;
	padding: 0;
	font-family: "verdana";
	font-size: 11px;
}


.style_01 {
	font-family: "verdana";
	font-size: 11px;
}

.req_star {
	color:red;
	font-size:12px;
	padding: 0;
	margin: 6px 0;
}

.button {
	background-color: #666699;
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	border:0;
	cursor: pointer;
	font-weight: bold;
}

.button:hover {
	background-color:#B0B1B3;
	color:#000;
	text-decoration:none;
}

.req_star {
	font: red 12px;
}

.form_heading {
	color: #666699;
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 12px 0;
	display: block;
}

.pns_heading {
	margin: 12px 0 5px 0;
	font-size:13px;
}

.pns_heading td {
	padding:3px;
}

.login_error_msg {
	text-align:left;
	margin:0 0 0 51px;
}

.body_left {
	float:left;
	width:10%;
	margin:0 0 0 1%;
}

.body_right {
	float:right;
	width:88%;	
	margin:0 1% 0 0;
}

.body_left ul{
    margin: 20px 10px 0 0;
    padding: 0;
    border-top: solid 1px #CDCDCD;
}

.body_left ul li{
    list-style: none;
    display: block;
    border-bottom: solid 1px #CDCDCD;
}

.body_left ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    display: block;
    padding: 5px 0 5px 10px;
}

.body_left ul li a:hover{
    background-color: #EEE;
    color: #000;
}

.report_paging {
	font-size:11px;
	font-weight:bold;
}

.report_paging a{
	background: #F0F0F6;
	display: inline-block;
	border: solid 1px #CDCDCD;
	font-size:11px;
	text-decoration:none;
	padding:5px;
	color:#000;
	margin:0 2px;
	font-weight:normal;
}

.paging_link {
	background: #F0F0F6;
	display: inline-block;
	border: solid 1px #CDCDCD;
	font-size:11px;
	text-decoration:none;
	padding:5px;
	color:#000;
	margin:0 2px;
}

.paging_link:hover {
	background-color:#EEE;
}

.paging_link_active {
	font-weight:bold;
	text-decoration:underline;
	cursor: text;
}

/* tablesorter CSS IS OPEN */
.tablesorter {
    font-family: arial;
    background-color: #CDCDCD;
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

.tablesorter th {
    background-color: #E6EEEE;
    border: 1px solid white;
    font-size: 8pt;
    padding: 4px;
}

.tablesorter tr.odd td {
    background-color: #F0F0F6;
}

.tablesorter td {
    padding: 4px;
    vertical-align: top;
}

.tablesorter .header {
/*    background-image: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
*/
}

.headerSortDown 
{
   /* background-image:url(../images/asc.gif) !important; */
	background-repeat:no-repeat;
	background-position: right 10px;
	background-color:#8DBDD8 !important;
}

.headerSortUp 
{
  /*  background-image:url(../images/desc.gif) !important; */
	background-repeat:no-repeat;
	background-position: right 10px;
	background-color:#8DBDD8 !important;
}

.tablesorter tbody tr:hover {
	background-color: #EEE;
}

.even_1 {
	background-color: #F0F0F6;
}

.even_0 {
	background-color: white;
}
/* end of tablesorter CSS */

.show_details {
    font-family: arial;
    /*background-color: #CDCDCD;*/
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
	BORDER-COLLAPSE: collapse;
}

.show_details tr  td {
    background-color: #ffffff;
    padding: 0 4px;
    vertical-align: top;
	border-bottom:solid 1px #CDCDCD;
}



.show_details label
{
	font-size: 8pt;
	font-weight: normal;
	background-color: #EEE;
	display: block;
	border-bottom: solid 1px white;
	border-top: solid 1px white;
	color: black;
	padding:0 0 0 4px;
}

.label_style-2 {
	border-bottom: 0px !important;
	border-top: 0px !important;
	height: 42px;
	padding: 14px 0 0 4px !important;
}


.show_details tr  td table tr td {
    background-color: #ffffff;
    padding: 0 4px;
    vertical-align: top;
	border-bottom:0px !important;
}

.show_details tr td table label
{
	font-size: 8pt;
	font-weight: normal;
	background-color:#fff !important;
	display: block;
	border-bottom: solid 0px white;
	border-top: solid 1px white;
	color: black;
	padding:0 0 0 4px;
}

.rep_label_heading {
	font-weight:bold;
	padding:4px 0 3px 23px;
	display:block;
	text-decoration:underline;
	background-color:#E6EEEE;
	background-image:url(../images/heading.png);
	background-repeat:no-repeat;
	background-position:left center;
	width:100%;
	border-top:solid 1px #CDCDCD;
	margin:-1px 0 0 0;
}

.show_details tr td input {
	margin-left:0px;
}

.export_csv_form {
	margin:10px 0;
}

.export_csv_form label
{
	font-size: 8pt;
	font-weight: normal;
	background-color: #EEE;
	display: block;
	border-bottom: solid 1px white;
	border-top: solid 1px white;
	color: black;
	padding:3px 0 1px 4px;
}

.csv_text_box {
	margin:0 0 0 5px;
	padding:0;
	width:153px;
}

.csv_dropdown {
	margin:0 0 0 5px;
	padding:0;
	width:153px;
}

.csv_buttons {
	margin:10px 27px 0 0;
}

.csv_error_msg {
	display:inline;
}

.csv_error_msg ul {
	margin:5px 8px 0 0;
	padding:0;
	display:inline-table;
}

.csv_error_msg ul li {
	list-style:none;
	font-family: Arial, Helvetica, Sans-Serif;	
	font-size:12px;
	color:red;
	text-align:right;
}


/* PRE LOADER CSS IS OPEN */
div#content {
	display: none;
}

div#loading {
	top: 200 px;
	margin: auto;
	position: absolute;
	z-index: 1000;
	width: 160px;
	height: 24px;
	background: url(../image/loadingimage.gif) no-repeat;
	cursor: wait;
}
/* PRE LOADER CSS IS CLOSE */




/* LIGHTBOX POPUP CSS IS OPEN */
.popup_header {
	background-image:url(../images/popup_heading.jpg);
	background-repeat:repeat-x;
	height: 36px;
	color: white;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	padding: 14px 0 0 11px;
	position:relative;
}

.popup {
	width:500px;
	height:300px;
	margin:-20% auto 0 auto;
	border:solid 5px #000;
	background:#fff;
	top:400px;
	position:relative;
}

.main_popup {
	background-image:url(../images/01.png);
	background-repeat:repeat;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.close {
	background:transparent;
	color:#fff;
	position:absolute;
	top:0;
	right:0;
	border:none;
	cursor:pointer;
}

.sm_btn {
	background-color:#4b8bf2;
	border:solid 1px #317beb;
	color:#fff;
	padding:3px 10px;
	cursor:pointer;
}
/* LIGHTBOX POPUP CSS IS CLOSE */
